* {
	padding: 0;
	margin: 0;
	}

  #wrapper {
    width: 970px;
    background-color: #1d355c;
    padding: 10px;
  }

  a {
    color: #61cac7;
    font-size: 12px;
  }

  p {
    color: #c4d8ec;
    font-size: 12px;
  }

  #header {
    width: 100%;
    height: 75px;
    background-color: #cc323b;
    margin-bottom: 10px;
    border-radius: 10px;

  }

  #header h1 {
    margin: 0;
    padding: 15px 0 15px 10px;
    color: #c3d6eb;
  }

  #navigation {
    background-color: #2f7d8b;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
  }

  ul {
    color: white;
    padding-left: 20px;
    margin: 0;
    font-size: 16px;

  }

  #main_content {
    background-color: #0f1822;
    display: inline-block;
    width: 745px;
    margin-left: 20px;
    color: #c4d8ec;
    padding: 15px;
    border-radius: 10px;
  }

  #main_content h2 {
    margin: 10px 0px;
  }

  #main_content li {
    margin: 5px 0;
  }

  span {
    color: #6d80ce;
  }

  .footer {
    margin-top: 10px;
    width: 100%;
    background-color: #5e6672;
    border-radius: 10px;
  }

  .footer p {
    padding: 15px 0 15px 15px;
  }
